/*  Universal Styles  */

body {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;

}

/*  Header Styles  */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0px;
}

nav {
  display: flex;
  flex: 1 0 300px;
  justify-content: flex-end;

}

nav span {
  display: inline-block;
  margin-right: 25px;
  text-decoration: underline;
}

img {
  height: 50px;
  margin-left: 10px;
}

/*  Content Styles - Main Banner */

.main-banner {
  display: flex;
  justify-content: center;
}

.main-image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
  height: 700px;
  flex-basis: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.main-banner-text {
  background-color: rgba(0, 0, 0, 0.9);
  flex-basis: 1200px;
}

/*  Content Styles - Teas Menu Section */

.teas {
  display: flex;
  justify-content: center;
  flex-basis: 1000px;
  margin-top: 50px;

}

.teas-header-text {
  flex-wrap: wrap;
  width: 1000px;
}

.tea-images {
  display:flex;
  flex-direction: row;
  flex-basis: 1000px;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
  margin: auto;
}


.tea-images img {
  height: 200px;
  width: 300px;
  display: inline-block;
  padding: 10px 10px 0px 10px;
}

.tea-images h4 {
  margin-top: 10px;
}


/*  Content Styles - Location Section */

.locations {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.location-image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-repeat: no-repeat;
  height: 500px;
  flex-basis: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#locations {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

}

.location-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.location.box {
  width: 300px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 1);
  margin-right: 40px;
}

/*  Contact Styles */

.contact {
  display: flex;
  justify-content: center;
}

.contact-text {
  height: 200px;

}

/*  Footer Styles */


footer {
  display: flex;
}

footer span {
  margin-left: 20px;
}
